@mixin button($width: 100%, $bg-color: grey, $font-color: white) {
  //  초기값덜 : 초기값 까먹어도 위에서 설정해준 값으로 담겨짐
  display: block;
  width: $width;
  height: 30px;
  border-radius: 15px;
  background-color: $bg-color;
  color: $font-color;
  text-align: center;
  font: bold 16px/30px "arial";
  /* 버튼의 높이와 line-heigth가 같아야 글자가 가운데로 옴 */
  margin-top: 20px;
  transition: 0.6s;
}
