/* COMMON */
body {
}
a {
  text-decoration: none;
  color: #4a4a4a;
}

/* BLOCK */
header {
  display: flex;
  justify-content: center;
  /* background-color: skyblue; */
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
  /* x / y / blue / bolder / color*/
}
header .inner {
  display: flex;
  width: 1200px;
  height: 64px;
  padding: 0 32px;
  justify-content: space-between;
  align-items: center;
  /* background-color: orange; */
}

/* logo part */
header .inner .header__logo {
  font-size: 28px;
  flex-shrink: 0;
}
header .inner .header__logo a {
  color: green;
  font-family: "Unbounded", cursive;
}
header .inner .header__logo a i {
}

/* menu part */
header .inner .header__menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  height: 34px;
  flex-shrink: 0; /* 화면 줄어들때 레이아웃 깨지지 않도록, 글자가 밑으로  내려가지 않도록 하기 위함 기본값은 1임*/
  margin-left: 20px;
}
header .inner .header__menu li {
  padding: 8px 16px;
}
header .inner .header__menu li a:hover {
  color: #1dc078;
}
/* space part */
header .inner .header__space {
  flex-grow: 1;
}

/* search part */
header .inner .header__search {
  position: relative;
  flex-shrink: 0;
  margin-right: 20px;
}
header .inner .header__search input {
  box-sizing: border-box;
  width: 148px;
  height: 34px;
  padding: 5px 9px;
  font-size: 16px;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: none;
  color: #4a4a4a;
}
header .inner .header__search input:hover {
  outline: 1px solid #c8c8c8;
}
header .inner .header__search input:focus {
  outline: 2px solid #1dc078;
  box-shadow: 0 0 7px #1dc078;
}
header .inner .header__search i {
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  height: 16px;
  margin: auto;
  top: 0;
  bottom: 0;
  /* 위와 같은 방식으로 수직 가운데 정렬 할 수 도 있음  */
  right: 10px;
  cursor: pointer;
}

/* login, join */
header .inner .header__login-join {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  height: 34px;
}
header .inner .header__login-join .btn {
  padding: 8px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
header .inner .header__login-join .btn.btn--login {
  color: #4a4a4a;
  background-color: #fff;
}
header .inner .header__login-join .btn.btn--join {
  color: white;
  background-color: #f77867;
}
